name: auto-merge

on:
  pull_request_target:

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          # Add a repo secret called AUTOMERGE_TOKEN with a GitHub token
          github-token: ${{ secrets.AUTOMERGE_TOKEN }}
          command: "squash and merge"
          approve: true
          target: minor
